#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;  // ← ¡Te faltaba esto también!
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_L THUMBS>;
            hold-trigger-on-release;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    combos {
        compatible = "zmk,combos";

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <23 24 25>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <8 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&tog 3           &kp Q        &kp W             &kp F                &kp P              &kp B                                &kp UP_ARROW               &kp J        &kp L                      &kp U         &kp Y        &kp COLON        &tog 4
&kp EQUAL        &hml LALT A  &hml RIGHT_ALT R  &hml LEFT_CONTROL S  &hml LEFT_SHIFT T  &kp G                      &kp LEFT  &kp ENTER       &kp RIGHT  &kp M        &hmr RSHFT N               &hmr RCTRL E  &hmr RALT I  &hmr LEFT_ALT O  &kp APOS
&kp PRINTSCREEN  &kp Z        &kp X             &kp C                &kp D              &kp V        &kp C_MUTE              &kp DOWN_ARROW             &kp K        &kp H                      &kp COMMA     &kp DOT      &kp FSLH         &kp MINUS
                                                &lt 3 UNDERSCORE     &mt LGUI DEL       &lt 1 SPACE                                                     &lt 1 ENTER  &mt RIGHT_SHIFT BACKSPACE  &lt 2 ESCAPE
            >;

            sensor-bindings = <&inc_dec_kp K_VOLUME_UP K_VOLUME_DOWN>;
            label = "CLMK";
        };

        symbol_layer {
            display-name = "SYMBOL";
            bindings = <
&kp INS     &kp N1                 &kp N2                           &kp N3                               &kp N4                      &kp N5                                   &mmv MOVE_UP                     &kp N6         &kp N7             &kp N8                   &kp N9                        &kp RPAR                 &kp CLCK
&kp DOLLAR  &hml LALT EXCLAMATION  &hml RIGHT_ALT LEFT_PARENTHESIS  &hml LEFT_CONTROL RIGHT_PARENTHESIS  &hml LEFT_SHIFT UNDERSCORE  &kp ASTERISK             &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &kp MINUS      &hmr RSHIFT EQUAL  &hmr RCTRL LEFT_BRACKET  &hmr RIGHT_ALT RIGHT_BRACKET  &hmr LEFT_ALT BACKSLASH  &kp PERCENT
&trans      &kp AT                 &kp GRAVE                        &kp TILDE                            &kp POUND                   &kp SEMICOLON  &trans                    &mmv MOVE_DOWN                   &kp AMPERSAND  &kp PLUS           &kp LBRC                 &kp RBRC                      &kp PIPE                 &kp CARET
                                                                    &trans                               &trans                      &trans                                                                    &trans         &trans             &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        function_layer {
            display-name = "FN";
            bindings = <
&kp F1          &kp F2        &kp F3        &kp F4            &kp F5        &kp F6                                         &mmv MOVE_UP                     &kp F7           &kp F8           &kp F9                          &kp F10                           &kp F11   &kp F12
&bt BT_CLR      &out OUT_TOG  &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2  &bt BT_SEL 3                   &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &rgb_ug RGB_ON   &rgb_ug RGB_OFF  &rgb_ug RGB_COLOR_HSB(0,0,100)  &rgb_ug RGB_COLOR_HSB(52,100,86)  &kp HOME  &kp PG_UP
&bt BT_CLR_ALL  &sys_reset    &bootloader   &trans            &trans        &rgb_ug RGB_EFF  &kp C_MUTE                    &mmv MOVE_DOWN                   &rgb_ug RGB_EFR  &rgb_ug RGB_SPI  &rgb_ug RGB_BRI                 &rgb_ug RGB_BRD                   &kp END   &kp PG_DN
                                            &kp LEFT_CONTROL  &kp LSHIFT    &kp LGUI                                                                        &trans           &trans           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_BRIGHTNESS_INC C_BRIGHTNESS_DEC>;
        };

        navigation_layer {
            display-name = "NAV";
            bindings = <
&tog 0  &trans          &kp UP_ARROW    &trans           &trans     &trans                              &mmv MOVE_UP                     &trans  &kp N7        &kp N8        &kp N9        &kp PRINTSCREEN  &trans
&trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans     &trans              &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0           &trans
&trans  &trans          &trans          &trans           &trans     &trans     &none                    &mmv MOVE_DOWN                   &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans           &trans
                                        &mkp MCLK        &mkp LCLK  &mkp RCLK                                                            &trans  &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_UP K_SCROLL_DOWN>;
        };

        game_layer {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E      &kp R      &kp T                                  &mmv MOVE_UP                     &trans  &trans          &kp UP_ARROW  &trans     &trans  &tog 0
&kp LSHFT  &kp A  &kp S  &kp D      &kp F      &kp G                  &mmv MOVE_LEFT  &mkp LCLK       &mmv MOVE_RIGHT  &trans  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans  &trans
&kp LCTRL  &kp Z  &kp X  &kp C      &kp V      &kp B        &trans                    &mmv MOVE_DOWN                   &trans  &trans          &trans        &trans     &trans  &trans
                         &kp LCTRL  &kp LSHFT  &lt 3 SPACE                                                             &trans  &trans          &trans
            >;

            label = "GAME";
            sensor-bindings = <&inc_dec_kp K_VOLUME_UP K_VOLUME_DOWN>;
        };
    };
};
